<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
    <script src="/js/homepage.js" charset="utf-8"></script>
    <title>Habit Tracking | Home</title>
</head>

<body>
    <% include ./partials/nav.ejs %>

    <div class="container">
        <div class="homepage-image row align-items-center">
            <% if(currentUser) { %>
                <h1 class="welcome-text col text-center text-white display-4">Welcome <%= currentUser.display_name %>!</h1>
            <% } else { %>
                <h1 class="welcome-text col text-center text-white display-4 p-3">Welcome! <br> Log In or Register below.</h1>
            <% } %>
        </div>

        
        
        <div class="row">
            <!-- Show only to logged in user -->
            <% if(currentUser) { %>
            <!-- New Habit -->
            <a class="col border border-primary btn m-3" href="/habits/new">New Habit</a>
            <!-- Dashboard -->
            <a class="col border border-primary btn m-3" href="/habits/index">Dashboard</a>
            <!-- Logout -->
            <form action="/sessions?_method=DELETE" method="POST" class="col border border-primary btn m-3">
                <input type="submit" class="logout-btn" value="Logout" />
            </form>


            <!-- If not logged in -->
            <% } else { %>

            <a class="col border border-primary btn m-3" href="/sessions/new">Log In</a>
            <a class="col border border-primary btn m-3" href="/users/new">Register</a>
            <form action="/users/tempuser" method="POST" class="col border border-primary btn m-3">
                <input type="submit" class="logout-btn" value="Guest User">
            </form>

            <% } %>
        </div>

        <% if(currentUser) { %> 
            <% if(currentUser.tempUser) { %> 
                <div class="row">
                    <div class="col">
                        You are logged in as a guest, to permanently save you data please create an account.
                    </div>    
                    <a href="/users/tempuser/save" class="col border border-primary btn m-3" >Create Account <br>and Save Data</a>
                </div>
            <% } %>
        <% } %>

        <!-- Show always -->

        <div class="jumbotron">
            <blockquote class="blockquote">
                <p class="quote-text mb-1 "> </p>
                <footer class="quote-author blockquote-footer"></footer>
            </blockquote>
        </div>
    </div>



</body>

</html>