<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
    <script src="/js/homepage.js" charset="utf-8"></script>
    <title>Habit Tracking | Home</title>
</head>

<body>
    <% include ./partials/nav.ejs %>

    <div class="container">

    
    

    <!-- Show only to logged in user -->
    <% if(currentUser) { %>
        <h1 class="display-4">Welcome <%= currentUser.display_name %></h1>
        <!-- New Habit -->
        <!-- Dashboard -->
        <!-- Logout -->
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout" />
        </form>
            

    <!-- If not logged in -->
    <% } else { %>
     
        <a href="/sessions/new">Log In</a>
      
      
        <a href="/users/new">Register</a>
        
    <% } %>

    <!-- Show always -->
    
        <div class="jumbotron">
            <blockquote class="blockquote">
                <p class="quote-text mb-1 "> </p>
                <footer class="quote-author blockquote-footer"></footer>
            </blockquote>
        </div>
    </div>



</body>

</html>