body {
    background-color: whitesmoke;
}
div {
    /* border: 1px solid black; */
}

div[habit-checked="true"]::before {
    color: navy;
    content: '\F14a'
}

div[habit-checked="false"]::before {
    color: navy;
    content: '\F096'
}

.calendar-checked {
    background-color: #759eb8;
}

.sparkline {
    height: 50px;
    width: 640px;
}

.logout-btn {
    /* padding: 0; */
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
    
} 
/* info from https://fvsch.com/styling-buttons/ */

/* Setting up icons for Checkmarks on Habit Index */
@font-face {
    font-family: "Icons";
    src: url('../font/fontello.ttf')
    /* empty box = F096 */
    /* checked box = F14a */
}
.habit-check-field {
    font-family: Icons;
}
.index-back {
    font-family: Icons;
}

/* Index styling */
.habit-title {
    color: navy;
    text-decoration: none;
}
.habit-title:hover {
    color: #759eb8;
    text-decoration: none;
}


/* Registration and Sign In Pages */
.sign-in-up {
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.sign-in-up-fields {
    padding: 15px;
}
.sign-in-up-fields label {
    margin-top: 10px;
}
.sign-in-up-fields input {
    width: 100%
}
.signin-submit-container {
    padding: 10px 20px 10px 20px;
}
.signin-submit-container > *{
    margin-top: 10px
}
/* .new-user-session-submit {
    margin: 25px auto; */
    /* display: block;

} */
.signin-img-frame > img {
    height: 18vh;
    width: 100%;
    object-fit: cover;
}

/* Homepage Styling */
/* .homepage-image > img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
} */
.homepage-image {
    background-image: url('../img/notebook-list.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    margin: 0;
}
.welcome-text {
    background: rgba(0, 0, 0, 0.4);
}


/* Footer */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    /* min-height: calc(100vh - 88px) */
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    margin-top: 20px;
}